<div class="main">
  <div class="main-container">
    <div class="div-cont">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button (click)="onPressName()" type="radio"></button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="onPressAge()" type="radio"></button>
          </div>
      <table border="1">
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
        <tr *ngFor="let user of users">
          
          <th>{{user.firstName}}</th>
          <th>{{user.age}}</th>
        </tr>
      </table>
      </div>
</div>